

@import "tailwindcss";
@import "@fontsource/roboto"; /* Default weight */
@import "@fontsource/roboto/400.css"; /* Regular */
@import "@fontsource/roboto/700.css"; /* Bold */

@import "@fontsource/outfit"; /* Default weight */
@import "@fontsource/outfit/400.css"; /* Regular */
@import "@fontsource/outfit/700.css"; /* Bold */

html {
    scroll-behavior: smooth;
  }
  
/* Typewriter Effect */
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #00A8CD; /* Cursor effect */
  white-space: nowrap;
  letter-spacing: 0.05em; /* Adjust spacing between letters */
  animation: typing 3.5s steps(13, end) infinite, blink-caret 0.75s step-end infinite;
  color: #00A8CD; /* Change text color */
  max-width: fit-content; /* Ensure the cursor stops at the last letter */
  vertical-align: bottom; /* Fix vertical alignment */
}

/* Typing Animation */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%; /* Fully typed */
  }
  100% {
    width: 100%; /* Hold the final state */
  }
}

/* Cursor Blinking Animation */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #00A8CD;
  }
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;/* Ensures smooth scrolling */
  background-color: #1f2937;
}
body {
  font-family: 'Roboto', sans-serif; /* Default body font */
}
h1, h2 {
  font-family: 'Outfit', sans-serif; /* Headings font */
}
html {
  scroll-padding-top: 70px; /* Adjust this value to match your navbar's height */
}